header {text-align: center; color: white; font-size: 20px; -webkit-text-stroke: 1% black;}
body {background-color: maroon;}
h1{text-align: center; color: white;}
h2{text-align: center; color: white;}
a{text-align: center; color: white; font-size: large;}
div{text-align: center;}
img{size-adjust: 300px;}
footer{text-align: right}